<article>
  <h2><%= 'top.title'.t %></h2>
  <p><%= 'top.description'.t %></p>
  <nav class="connect">
    <%= form_tag open_id_path do %>
      <%= submit_tag 'Login' %>
    <% end %>
  </nav>
</article>
